
h1 {
    text-align: center;
    font-size: 7rem;
    text-transform: uppercase;
    text-shadow: aqua;
}

.button {
    height: fit-content;
    left: 45rem;
    width: 6rem;
    font-size: .9rem;
    padding: .2rem;
    background-color: white;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}
