.btn {
    width: 6rem;
}
.index-card {
    border-radius: 60px;
}

.index-card img {
    height: 100%;
}

.index-card div {
    text-transform: uppercase;
}

.index-card .text-muted {
    text-transform: lowercase;
}

.index-card .card-body {
    padding: 0 !important;
}
